body { font-family: Arial; margin:0; background:#f5f7fb; }

.auth { width:300px; margin:100px auto; background:#fff; padding:20px; }

.app { display:none; }

.sidebar {
  width:200px;
  background:#0f172a;
  color:#fff;
  height:100vh;
  float:left;
  padding:15px;
}

.sidebar li { padding:10px; cursor:pointer; }

.main { margin-left:220px; padding:20px; }

.topbar { display:flex; justify-content:space-between; }

.hidden { display:none; }
